<<<<<<< HEAD
.texteFooter {
    background-color: burlywood;
    text-align: left;
=======
.animbloc2 {
    background-color: pink;
    text-align: justify;
>>>>>>> LevesqueLemoyne
    font-size: 1em;
}