
// Trois classes personnalisée pour Gutenberg


// .animbloc1
<<<<<<< HEAD
// texteMain


// .animbloc2
// texteFooter
=======
.animbloc1{

    font-size: 1.5em;
    background-color: aquamarine;
    text-align: center;

}
// .animbloc2
.animbloc2 {
    background-color: pink;
    text-align: justify;
    font-size: 1em;
}
>>>>>>> LevesqueLemoyne
